* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  --bg: rgb(100, 120, 120);
}
body {
  width: 100wv;
  height: 100vh;
}

.cont {
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 300px;
  background-color: blue;
  border-radius: 150px;
}

.hour,
.min,
.second {
  background-color: black;
  height: 100px;
  width: 8px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
}

.hour {
  width: 8px;
  transform: rotate(20deg);
  transform-origin: 300px 50%;
}
.second {
  width: 1px;
  transform: rotate(40deg);
  transform-origin: 0px 0%; 
}
.min {
  width: 4px;
  transform: rotate(60deg);
  transform-origin: 0px 0%; 
}
